@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="Edit" asp-route-id="0">Dodaj produkt</a>

@foreach (var warzywo in ViewBag.products)
{
    <h2>@warzywo.Name</h2>
    <b>@warzywo.Price zł</b> <i> Ilość: @warzywo.Quantity </i>
    <a asp-controller="Home" asp-action="Edit" asp-route-id="@warzywo.Id">Edytuj</a>
    <a asp-controller="Home" asp-action="Delete" asp-route-id="@warzywo.Id">Usuń</a>
}